$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
/* Variables color */
$bodyBackgroundColor: #659a01;
$contentColor: #666701;
$headerColor: #fbd010;
$borderColor: #fff;
$briefBackgroundColor: #677d01;
$linkColor: #fbd010;
$tableBackground: #677d01;
$tableThBackground: #94a34e;
$tableBorderBottomColor: #94a34e;
/* Variables of size and location */
$contentWidth: 65%;
$imagePadding: 5px;
$briefFloat: none;
$briefwidth: 100%;
$widthThBorderRight: 0px;