$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
/* Variables color */
$bodyBackgroundColor: #ddbc9b;
$contentColor: #fff;
$headerColor: #8d3d00;
$borderColor: #8d3d00;
$briefBackgroundColor: #fadcba;
$linkColor: #2c629e;
$tableBackground: #fff;
$tableThBackground: #e0e0e0;
$tableBorderBottomColor: #e0e0e0;
/* Variables of size and location */
$contentWidth: 70%;
$imagePadding: 2px;
$briefFloat: left;
$briefwidth: 335px;
$widthThBorderRight: 1px;